.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border-radius: 5px;
    width: 100px;
    height: 10px;
    background: linear-gradient(to right, #333, #ccc, #333);
    background-size: 200% 100%;
    animation: shimmer 2s linear infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  