@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body, * {
    font-family: Montserrat;
    font-weight: 300;
    color: white;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

html {
  background-color: #868686;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  button:hover {
    background-color: #868686;
  }
